#container i {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    overflow: hidden;
}

#container i::before {
    content: '';
    width: 100%;
    height: 3%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(30, 224, 134, 0.575);
    transition: 1s;
}
#container #start:hover i::before{
    height: 100%;
    transition: 1s;
}

#container #start i::after {
    content: '';
    inset: 2px;
    position: absolute;
    border-radius: 50%;
    background: #222;
    z-index: 3;
}

#container #pause {
    display: none;
}

#container #stop{
    width: 70px;
    height: 70px;
    position: absolute;
    font-size: .6em;
}

#container #stop i::before {
    content: '';
    width: 100%;
    height: 5%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(219, 37, 82, 0.767);
    z-index: 2;
    transition: .5s;
}

#container #stop:hover i::before{
    height: 100%;
    transition: .5s;
}

#container #stop i::after {
    content: '';
    inset: 2px;
    position: absolute;
    border-radius: 50%;
    background: #222;
    z-index: 3;
}
#container div:hover {
    cursor: pointer;
}

#container #pause i::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(30, 224, 134, 0.575);
    z-index: 2;
    transition: 1s;
}

#container #pause:hover i::before{
    height: 0%;
    transition: 1s;
}

#container #pause i::after {
    content: '';
    inset: 2px;
    position: absolute;
    border-radius: 50%;
    background: #222;
    z-index: 3;
}